/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	
}

body {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial,
		sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #FFF;
	nbackground-image: url(../img/bigbg.jpg);
	background-repeat: repeat-x;
	color: #343434;
	font-size: 100%;
}

/* Portrait layout (default) */
.app {
	background: url(../img/logo.png) no-repeat center top;
	/* 170px x 200px */
	position: absolute; /* position in the center of the screen */
	left: 50%;
	top: 50%;
	height: 50px; /* text area height */
	width: 225px; /* text area width */
	text-align: center;
	padding: 180px 0px 0px 0px;
	/* image height is 200px (bottom 20px are overlapped with text) */
	margin: -115px 0px 0px -112px;
	/* offset vertical: half of image height and text area height */
	/* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	.app {
		background-position: left center;
		padding: 75px 0px 75px 170px;
		/* padding-top + padding-bottom + text area = image height */
		margin: -90px 0px 0px -198px;
		/* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}
}

h1,h2,h3,h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin-top: 0px;
}

h1 {
	font-family: 'Aguafina Script', cursive;
	font-size: 30px;
	font-weight: normal;
	overflow: visible;
	padding: 0px;
	padding-top:5px;
	text-align: center;
}

h3 {
	margin-bottom: 5px;
	font-family: 'Aguafina Script', cursive;
	font-size: 24px;
	color: black;
}

h4 {
	margin-bottom: 0px;
	font-size: 14px;
	color: #f7941e;
	text-decoration: none;
}

a {
	text-decoration: none;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
	color: #343434;
}
input,textarea,select {
	margin-top: 0px;
	width: 100%;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #b3b3b3;
	padding: 2px;
	color: #000;
	font-size:1.2em;
}

input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]::-webkit-file-upload-button,button
	{
	width: auto;
	padding: 3px 8px;
	cursor: pointer;
	font-size:1.2em;
}

input[type="button"] {
	margin: 1px;
	text-transform: uppercase;
	color: black;
	font-weight: bolder;
	background: #FD700F;
}

input[type="button"]:hover {
	background: #b5fd2c;
}

input[type="text"] {
	margin-top: 0px;
	margin-bottom: 0px;
}

input[type="checkbox"] {
	width: auto;
}

.user_loggedin_button{
	display:none;
}

.event {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #343434;
	margin: 0px 30px;
	padding: 2px 0px;
}

.event.listening {
	background-color: #333333;
	display: none;
}

.event.received {
	background-color: #4B946A;
	display: none;
}

.header {
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid white;
}

.header img {
	height: 50px;
}

.ui-header .ui-btn-inner {
	padding: 0;
}

#firstpanel{
	background:black;
}

#firstpanel h1{
	color:#787878;
	margin-top:20px;
	padding:3px;
	margin:0;
}

.menu_button {
	border-bottom: 1px dotted #343434;
	background: #000;
	padding: 8px 3px 7px 7px;
	cursor: pointer;
	color: #fff;
	font-size: 125%;
}

.menu_button:hover {
	color: #b4b4b4;
	background: black;
}

.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}

.ui-content {
	background-color: #FFF;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial,
		sans-serif;
	background-repeat: repeat-x;
	color: #343434;
	padding: 5px;
}

.ui-body-c,.ui-overlay-c {
	background: #FFF;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	border-color: #FD700F;
}

.whitebg {
	background: white;
}

#mainbox{
color: white;
background: rgb(26, 26, 26);
margin-bottom:5px;
}

#mainbox table {
	width: 100%;
}

#mainbox table td {
	border-bottom: 1px dotted #d3d3d3;
}

#mainbox table td+td {
	text-align: right;
}

.round_box {
	-moz-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #e5e5e5;
	background: #fff;
	margin-bottom: 0.2em;
}

.round_box_marked {
	-moz-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #e5e5e5;
	background: #fee;
	margin-bottom: 0.2em;
}

.round_button {
	width: auto;
	color: white;
	display: inline-block;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #000;
	background: #121212 url(../images/bigbuttonbg.png);
	margin-bottom: 0.2em;
	padding: 4px 15px 4px 15px;
	text-align: center;
	cursor:pointer;
}

.round_button:hover {
	-moz-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #ebba00;
	background: #232323;
	margin-bottom: 0.2em;
}

.morebutton{
	width:90%;
}

.thinking {
	display: none;
	float: right;
}

.link_button a {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
color: black;
font-size: 10px;
}

.link_button a:hover {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	color: black;
	background: #E65C27;
}

.closebutton {
	float: right;
	display: inline;
	background: #343434;
	color: white;
	border: 1px solid #454545;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	cursor: pointer;
	padding: 2px 0.2em 2px 0.2em;
}

.closebutton:hover {
	border-color: #FF0000;
}

.content {
	padding: 10px;
}

.small_battle_box {
	width: 100%;
	text-align: center;
}

.small_user_box {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #F3F3F3;
	width: 25%;
}

.small_user_box h4 {
	
}

.small_user_box img {
	width: 100%;
}

.small_select_user_box {
	display: inline-block;
	height: 100%;
	background: #f3f3f3;
	margin: 3px;
}

.small_select_user_box img {
	width: 100%;
}

.quote_box,.quote_box_right,.quote_box_left,.qoute_big_box {
	border: 1px solid #e5e5e5;
	background: #fff;
	margin-bottom: 0.2em;
}

.quote_box_right {
	-moz-border-radius: 10px 0px 10px 10px;
	border-radius: 10px 0px 10px 10px;
}

.quote_box_left {
	-moz-border-radius: 0px 10px 10px 10px;
	border-radius: 0px 10px 10px 10px;
}

.qoute_big_box {
	-moz-border-radius: 0px 10px 10px 10px;
	border-radius: 0px 10px 10px 10px;
}

.quote_box_quote {
	display: block;
	font-style: italic;
	font-weight: lighter;
	color: #000;
}

.qoute_big_box .quote_box_quote {
	width: auto;
	float: none;
}

.quote_tiny_box {
	display: inline-block;
	vertical-align: top;
}

.quote_tiny_box a {
	color: black;
	font-weight: normal;
}

.quote_box_quote a {
	color: black;
	font-weight: normal;
}

.quote_box_score {
	float: right;
	width: auto;
	padding: 10px;
	font-size: 20px;
	color: #B4B4B4;
}

.quote_user_info {
	float: right;
	text-align: right;
	display: inline-block;
	margin-top: 0.2em;
}

.quote_battle_info {
	display: inline-block;
}

.quote_battle_info a {
	color: #FD700F;
}

.battle_score_button {
	display: inline;
	background: #d4d4d4;
	border: 1px solid #d4d4d4;
	padding: 0px 6px 0px 6px;
	cursor: pointer;
	border: 1px solid #b4b4b4;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	color: #343434;
}

.battle_score_button_marked {
	background: #ebba00;
}

.admob {
	color: #343434;
	font-weight: bold;
	font-size: 70%;
}

.admob a {
	color: #343434;
	text-transform: none;
}

.footer {
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	border-top: 1px solid white;
}

.footer_content {
	text-align: center;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: block;
}